{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dcfe269460.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="icon" href="{% static "images/logo.png" %}">
    <link rel="apple-touch-icon" href="{% static "images/logo.png" %}">
    <title>스파르타마켓</title>
  </head>

  <body>
    <div class="navbar">
      gma...
    </div>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </body>

</html>